.list {
  list-style-type: none;
  flex: 1;
}
.list li {
  margin: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 850px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  .list li {
    flex: 0 0 45%;
    margin: 0;
  }
}
